@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Raleway'; */
}

.inputDados {
    background-color: rgb(58, 58, 58);
    border-radius: 5px;
    border: 3px solid rgb(129, 0, 0);
    margin-bottom: 38px;
}

.inputDados2 {
    background-color: rgb(58, 58, 58);
    border-radius: 5px;
    border: 3px solid rgb(129, 0, 0);
    margin-bottom: 38px;
    margin-top: 35px;
}

body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(75, 75, 75), rgb(46, 46, 46));
}

.box {
    display: flex;
    flex-direction: column;
    color: rgb(248, 248, 248);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 100%;
}

.inputRadioBox {
    margin-right: 25px;
    background-color: rgb(54, 54, 54);
    margin-left: 18px;
    border-radius: 5px;
    margin-bottom: 55px;
    margin-top: 25px;
}

.inputRadioBox2 {
    margin-right: 155px;
    background-color: rgb(54, 54, 54);
    margin-left: 18px;
    border-radius: 5px;
    margin-bottom: 55px;
    margin-top: 25px;

}

legend {
    border: 1px solid dodgerblue;
    padding: 15px 25px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
    margin: 15px 0 25px 0 !important;
}

div {
    padding: 8px;
    margin-bottom: 20px;
}

input {
    height: 22px;
    margin-top: 23px;
}

label {
    left: 8px;
}

option {
    background-color: black;
}

span {
    font-weight: bold;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.inputUser2 {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 30%;
    letter-spacing: 2px;
}

.inputTable {
    background: none;
    border: none;
    font-size: 15px;
    width: 80%;
    letter-spacing: 2px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    height: 28px;
    width: auto;
    margin-right: 40px;
    margin-top: 24px;
   
}

.inputTable2 {
    background: none;
    border: none;
    font-size: 15px;
    width: 30%;
    letter-spacing: 2px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    height: 25px;
    width: 50px;
}


.labelInput {
    position: absolute;
    top: 0px;
    pointer-events: none;
    transition: .5px;
}

.inputUser:focus~.labelInput,
.inputUser2:focus~.labelInput,
.inputUser2:valid~.labelInput .inputUser:valid~.labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

.title {
    margin: 15px auto;
}

.radio {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-right: 25px;
}

.input_div {
    display: grid;
}


#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

.btnAdicionar{
    margin-top: 15px;
    background-color: rgb(1, 146, 13);
    width: auto;
    height: 38px;
    border-radius: 5px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.btnDeletarUltimo{
    background-color: rgb(146, 1, 1);
    width: auto;
    height: 38px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    color: white;
}


input[type="submit" i] {
    background-image: linear-gradient(to right, rgb(0, 102, 235), rgb(47, 0, 255));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    height: 20% !important;
    align-items: center;
    margin: -16px 0 5px 0;
}

input[type="submit" i]:hover {
    background-image: linear-gradient(to right, rgb(196, 27, 12), rgb(90, 20, 220));
}

#identidade {
    border: none;
    padding: 2px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#CPF {
    border: none;
    padding: 2px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#residencia {
    border: none;
    padding: 2px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#nascimento {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

input[type="radio" i] {
    margin-top: 17px !important;
}

input[type="date" i] {
    display: inherit;
}

input[type="file" i] {
    padding: 8px;
    display: none;
    background-image: url("add.png");
    color: white;
}

.inputFile {
    cursor: pointer;
    padding: 15px;
    border: 2px solid rgb(201, 193, 193);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.labelArquivos {
    cursor: pointer;
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #33d4ce;
    text-align: center;
}

.imageInput {
    padding: 5px;
    width: 50px;
    margin: auto;
}