@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}

span{
    color:red;
    font-size: 14px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 248, 248);
    background-image: radial-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.479));
}

.tableTitle{
    margin-left: 15px;
}

span {
    margin-left: 10px;
    margin: top;
}

.cardContainter {
    background-image: radial-gradient(rgb(0, 17, 5), rgb(0, 0, 0));
    border-radius: 10px;
    display: grid;
}

input:disabled,
select:disabled,
textarea:disabled {
    background: rgb(178, 199, 231);
}


.inputDados {
    background: rgba(44, 44, 44, 0.315);
    border-radius: 5px;
    border: 3px solid rgb(129, 0, 0);
    margin-bottom: 38px;
    padding: 10px;
    padding-bottom: 5px;
    margin-top: 20px;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
}

.inputRadioBox {
    background-image: radial-gradient(rgba(95, 6, 6, 0.726), rgba(165, 0, 0, 0.541));
    border-radius: 5px;
    display: flex;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 45px;
    margin-left: 20px;
    margin-right: 20px;

}


.inputUser {
    display: flex;
    background: rgba(255, 255, 255, 0.800);
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 100%;
    margin-right: 10px;
    letter-spacing: 2px;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 4px;
    height: 30px;
}

.inputUser2 {
    display: flex;
    background: rgba(255, 255, 255, 0.800);
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 30%;
    letter-spacing: 2px;
    border-radius: 3px;
    margin-top: 8px;
    height: 28px;
}

.inputTable {
    background: rgba(255, 255, 255, 0.800);
    letter-spacing: 2px;
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 3px;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 95%;
    height: 28px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.inputTable2 {
    background: rgba(255, 255, 255, 0.800);
    border: none;
    width: 40px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 3px;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    letter-spacing: 2px;
    height: 25px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tdRemoveBtn {
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    cursor: pointer;
}

.tdRemoveBtn img {
    display: block;
    width: 28px;
    margin-bottom: 10px;
}

.text-center {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-left: 30px;
}

.descricaoContainer {
    margin-top: 25px;
    margin-right: 40px;
    margin-left: 10px;
}

.inputTable3 {
    background: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 3px;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    max-width: 160px;
    height: 28px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.descricaoLabel {
    margin-top: 10px;
}

.descricaoBox {
    display: flex;
    background: rgba(255, 255, 255, 0.800);
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 100%;
    margin-right: 10px;
    letter-spacing: 2px;
    border-radius: 3px;
    margin-top: 8px;
    height: 100px;
    margin-bottom: 50px;
}


.input_div {
    font-size: 15px;
    display: table-row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tableContainer{
    margin-left: 12px;
}


.input_div input {
    margin-top: none;
    cursor: pointer;
    margin-right: 8px;
}

.input_div label {
    cursor: pointer;
}


.labelInput {
    left: 8px;
}

option {
    background-color: rgba(255, 255, 255, 0.800);
    font-weight: 700;
}

.inputBox {
    position: relative;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 15px;
}


.title {
    border: 1px solid rgb(255, 255, 255);
    padding: 15px 25px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(0, 127, 201), rgb(0, 147, 233));
    border-radius: 5px;
    margin: 15px 10px 25px 10px !important;
}



.btnAdicionar {
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, rgb(6, 167, 0), rgb(15, 185, 0));
    border: none;
    width: auto;
    height: 38px;
    border-radius: 5px;
    margin-right: 30px;
    margin-left: 12px;
    cursor: pointer;
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding: 8px;
}

.btnEnviar {
    background-image: linear-gradient(to right, rgb(0, 102, 255), rgb(0, 51, 218));
    display: flex;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
    width: 160px;
    justify-content: center;
    margin-bottom: 20px;
}



input[type="radio" i] {
    margin-top: 17px !important;
}