header {
    height: 200px;
    align-items: center;
    display: flex;
    background: linear-gradient(180deg, #490000 0%, #9e0000 100%);
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

.headerContainer img{
  max-width: 200px;
}